<h3>Add A New Trainee:</h3>
<label for="eid">Employee ID: </label>
<input id="eid" type="text" [formControl]="employeeID">
<label for="ename">Employee Name: </label>
<input id="ename" type="text" [formControl]="eName">
<label for="salary">Salary: </label>
<input id="salary" type="text" [formControl]="salary">
<label for="designation">Designation: </label>
<input id="designation" type="text" [formControl]="designation">
<label for="credits">Credits: </label>
<input id="credits" type="text" [formControl]="credits">

